.background    { background: rgb(84, 84, 84);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(116, 242, 133); }
.wall          { background: white;   }
.monster		{ background: red;}

.actor  { position: absolute;  }
.coin   { background: url("../images/pokeball.png"); }
.player { background: url("../images/babyash.gif"); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(117, 117, 20);
}
.won .player {
  box-shadow: -6px -9px 10px blue, 4px -7px 8px white;
}
